<section class="bg-black text-white">
    <div class="container mx-auto pt-3">
        <div class="flex flex-col flex-wrap justify-between items-center space-y-2 md:flex-row md:space-x-2">
            <div class="text-white flex">
                <i class="fas fa-shopping-basket text-orange text-xl"></i>
                <h2 class="font-semibold ml-1">YUMMY</h2>
            </div>

            
            <nav class="flex justify-between items-center flex-col space-y-3">
                <a href=" {% url 'store:home' %} " class="text-md text-light hover:text-orange">Home</a>
                <a href="#features" class="text-md text-light hover:text-orange">Features</a>
                <a href="#products" class="text-md text-light hover:text-orange">Products</a>
                <a href="#categories" class="text-md text-light hover:text-orange">Categories</a>
                <a href=" {% url 'store:menu' %} " class="text-md text-light hover:text-orange">Menu</a>
                <a href="#review" class="text-md text-light hover:text-orange">Review</a>
                <a href="#blogs" class="text-md text-light hover:text-orange">Blogs</a>
            </nav>

             
           <div>
                <h2 class="text-xl pb-3 text-light">Follow us on social media</h2>
                <nav class="flex justify-between items-center flex-col space-y-3">
                    <a href="" class="text-md text-light hover:text-orange hover:pr-2">Facebook <i class="fas fa-arrow-right text-sm"></i> </a>
                    <a href="" class="text-md text-light hover:text-orange hover:pr-2">Instagram <i class="fas fa-arrow-right text-sm"></i> </a>
                    <a href="" class="text-md text-light hover:text-orange hover:pr-2">Twitter <i class="fas fa-arrow-right text-sm"></i> </a>
                    <a href="" class="text-md text-light hover:text-orange hover:pr-2">Whats'app <i class="fas fa-arrow-right text-sm"></i> </a>
                    <a href="" class="text-md text-light hover:text-orange hover:pr-2">LinkedIn <i class="fas fa-arrow-right text-sm"></i> </a>
                </nav>
           </div>


           <div>
            <h2 class="text-xl pb-3 text-light text-center">Contact Us Via</h2>
            <nav class="flex justify-between items-center flex-col space">
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">+234 090000000 </a>
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">+234 090000000 </a>
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">+234 090000000 </a>
                
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">benwebdev@gmail.com </a>
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">benwebdev@gmail.com </a>
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">benwebdev@gmail.com </a>
                <a href="" class="text-md text-light hover:text-orange hover:pr-2">benwebdev@gmail.com </a>
                
            </nav>
       </div>


        </div>
    </div>
</section>